<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\File\Uploader">
        <plugin sortOrder="1" name="iMIOptionsToOrderInterfaceUploader"
                type="IMI\SVGProductImages\Plugin\File\UploaderPlugin"/>
    </type>
    <preference for="Magento\Framework\Image\Adapter\AbstractAdapter" type="IMI\SVGProductImages\Model\AbstractAdapter"/>
</config>